// creatching a search bar style sheet right now it's basic but i'll have something better tomorrow

.container {
  margin: 0px;
  padding: 0px;
  margin-bottom: 3vh;
  margin-top: 0.3vh;
  max-width: 100vw;

  .logo {
    display: flex;
    text-align: left;
    margin-left: 1vw;
    font-size: 1.4vw;
    letter-spacing: 0.2ch;
    font-family: "Holtwood One SC", serif;
    p {
      margin: 0px;
      display: flex;

      align-items: flex-end;
    }
  }
  .searchTerm {
    width: 30vw;
    height: 4vh;
  }
  .searchButton {
    border: none;
    height: 3.9vh;
    width: 2vw;
    background: powderblue;
    .fa-search {
      color: white;
      font-size:1vw;
    }
  }
  .searchButton:hover {
    background: yellow;
    .fa-search {
      color: black;
    }
  }
}
@media @smalldesktop{
  .container{
    .searchButton {
      border: none;
      height: 3.9vh;
      width: 3vw;
      background: powderblue;
      .fa-search {
        color: white;
        font-size:1.8vw;
      }
    }
  }
  }

@media @laptop{
  .container{
    .logo {
      justify-content: center;
      margin-bottom: 1vw;
      font-size: 3.4vw;

    }

    .searchTerm {
      width: 60vw;
      height: 4vh;
    }
    .searchButton {
      border: none;
      height: 3.9vh;
      width: 4vw;
      background: powderblue;
      .fa-search {
        color: white;
        font-size:2vw;
      }
    }
  }
  }
@media @tablet{
  
.container{
  .logo {
    justify-content: center;
    margin-bottom: 1vw;
    font-size: 3.4vw;
  }
  .searchTerm {
    width: 80vw;
    height: 4vh;
  }
  .searchButton {
    border: none;
    height: 3.9vh;
    width: 5vw;
    background: powderblue;
    .fa-search {
      color: white;
      font-size:3vw;
    }
  }
}
}