// creatching a search bar style sheet right now it's basic but i'll have something better tomorrow

.container {
  margin-bottom: 3vh;
  margin-top: 3vh;


    .searchTerm {
      width: 30vw;
      height: 4vh;
   
    }
    .searchButton{
        border:none;
      height: 4vh;
      width:2vw;
        background:powderblue;
    .fa-search{
        color:white;

    }
  
    }
    .searchButton:hover{
        background:yellow;
        .fa-search{
            color:black;
        }

    }
}
