@import "variables";
.singleMovie-container {
  .movieImgs-container {
    margin-bottom: 1vh;
  }
}
.singleImg-container {
  .media {
    min-height: 66vh;
  }

  .belowMovie-info {
    font-size: 1.3vw;
    padding: 0.3vw;
  }
}
.mapedInfo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .mapped-info {
    padding: 0.1vw;
  }
}
.moreInfo-container {
  padding: 0px;
  .movie-overview {
    font-size: 1vw;
  }
  .moreInfo-local {
    font-size: 1.1vw;
    padding: 0.5vw 2vw 0.5vw;
    border-bottom: 0.1vh solid black;
  }
}

.movie-rating {
  .progress {
    height: 3vh;

    .progress-bar {
      color: black;
      font-size: 1.2vw;
    }
  }
}
@media @smalldesktop{

  .singleImg-container {
    .media {
      min-height: 50vh;
    }
    .belowMovie-info {
      font-size: 1.5vw;
     
   
    }
  }
  .moreInfo-container {
    .moreInfo-local {
      font-size: 1.3vw;
    }
  }
}

@media @laptop{

  .singleImg-container {
    .media {
      min-height: 66vh;
    }
    .belowMovie-info {
      font-size: 1.9vw;
      border-bottom: .1vw solid black;
   
    }
  }
  .moreInfo-container {
    .moreInfo-local {
      font-size: 1.8vw;
    }
  }
}


@media @tablet{

  .singleImg-container {
    .media {
      min-height: 60vh;
    }
    .belowMovie-info {
      font-size: 3.3vw;
   
      border-bottom: .1vw solid black;
    }
  }
  .moreInfo-container {
    .moreInfo-local {
      font-size: 2.3vw;
      padding: 2vw 2vw 3vw;
 
    }
  }
}